/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {
}

/*los colores que se encuentran en este conjunto se van a utilizar en todas la interfaces*/
* {
    -fx-primary-color: #fafafa;
    -fx-secondary-color: #ff8080;
    -fx-tercary-color: #4848b8;
    -fx-fourth-color: #6f856f;
    -fx-2clear-color: #FD9696;
    -fx-2dark-color: #bf6060;
    -fx-grey-color: #b9b9b9;
    -fx-black-color: #242424;
}


/*ICONOS*/
.user-icon {
    -fx-background-color: -fx-secondary-color;
    -fx-shape: "M272 304h-96C78.8 304 0 382.8 0 480c0 17.67 14.33 32 32 32h384c17.67 0 32-14.33 32-32C448 382.8 369.2 304 272 304zM48.99 464C56.89 400.9 110.8 352 176 352h96c65.16 0 119.1 48.95 127 112H48.99zM224 256c70.69 0 128-57.31 128-128c0-70.69-57.31-128-128-128S96 57.31 96 128C96 198.7 153.3 256 224 256zM224 48c44.11 0 80 35.89 80 80c0 44.11-35.89 80-80 80S144 172.1 144 128C144 83.89 179.9 48 224 48z";
}

.xmark-button {
    -fx-background-color: -fx-primary-color;
    -fx-shape: "M310.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L160 210.7 54.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L114.7 256 9.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L160 301.3 265.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L205.3 256 310.6 150.6z";
}

.bacon-icon {
    -fx-background-color: -fx-secondary-color;
    -fx-shape: "M439.2 1.2c11.2-3.2 23.2-.1 31.4 8.1L518 56.7l-26.5 7.9c-58 16.6-98.1 39.6-129.6 67.4c-31.2 27.5-53.2 59.1-75.1 90.9l-2.3 3.3C241.6 288.7 195 356.6 72.8 417.7L37.9 435.2 9.4 406.6c-7.3-7.3-10.6-17.6-9-27.8s8.1-18.9 17.3-23.5C136.1 296.2 180.9 231 223.3 169.3l2.3-3.4c21.8-31.8 44.9-64.9 77.7-93.9c33.4-29.5 75.8-53.6 135.9-70.8zM61.8 459l25.4-12.7c129.5-64.7 179.9-138.1 223.8-202l2.2-3.3c22.1-32.1 42.1-60.5 69.9-85.1c27.5-24.3 63.4-45.2 117.3-60.6l0 0 .2-.1 43.1-12.9 23 23c8 8 11.2 19.7 8.3 30.7s-11.3 19.6-22.2 22.7c-51.9 14.8-85.6 34.7-111.1 57.2c-26.1 23-45.1 49.9-67.3 82.1l-2.2 3.2C327.8 365.9 275.5 442 142.3 508.6c-12.3 6.2-27.2 3.7-36.9-6L61.8 459z";
}
/*FORMATO DE TEXTOS*/
.titulo-w {
    -fx-font-size: 25;
    -fx-text-fill:  #fafafa;
    -fx-font-weight: bold;
}

/*TEXTFIELDS*/
.campotexto {
    -fx-background-color: -fx-black-color, -fx-secondary-color;
    -fx-text-fill: -fx-primary-color;
    -fx-cursor: TEXT;
    -fx-font-weight: bold;
    -fx-background-insets: 0, 1;
    -fx-background-radius: 0;
    -fx-prompt-text-fill: -fx-2dark-color;
    -fx-focus-traversable: true;
}

.campotexto:focused {
    -fx-background-color: -fx-secondary-color, white;
    -fx-text-fill: -fx-black-color;
    -fx-font-weight: 0;
    -fx-accent-color: none;
    -fx-prompt-text-fill: -fx-secondary-color;
}

/*BOTONES*/
.botones {
    -fx-font-weight: bold;
    -fx-background-color: -fx-primary-color;
    -fx-text-fill: -fx-black-color;
    -fx-padding: 5;
    -fx-border: 1;
}

.botones:hover {
    -fx-background-color: -fx-secondary-color;
    -fx-text-fill: -fx-primary-color;
    -fx-cursor: HAND;
}

.botones:pressed {
    -fx-background-color: -fx-tercary-color;
    -fx-text-fill: -fx-secondary-color;
}

.botones:focused {
    -fx-border-color: -fx-tercary-color;
}

/*FONDOS*/
#header {
    -fx-background-color: -fx-secondary-color;
}